/* @font-face {
    font-family: "Clash_Display";
    src:
        url("/fonts/Clash_Display/WEB/fonts/ClashDisplay-Bold.woff2")
            format("woff2"),
        url("/fonts/Clash_Display/WEB/fonts/ClashDisplay-Bold.woff")
            format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Clash_Display";
    src:
        url("/fonts/Clash_Display/WEB/fonts/ClashDisplay-Semibold.woff2")
            format("woff2"),
        url("/fonts/Clash_Display/WEB/fonts/ClashDisplay-Semibold.woff")
            format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Clash_Display";
    src:
        url("/fonts/Clash_Display/WEB/fonts/ClashDisplay-Medium.woff2")
            format("woff2"),
        url("/fonts/Clash_Display/WEB/fonts/ClashDisplay-Medium.woff")
            format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Clash_Display";
    src:
        url("/fonts/Clash_Display/WEB/fonts/ClashDisplay-Regular.woff2")
            format("woff2"),
        url("/fonts/Clash_Display/WEB/fonts/ClashDisplay-Regular.woff")
            format("woff");
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "Clash_Display";
    src:
        url("/fonts/Clash_Display/WEB/fonts/ClashDisplay-Light.woff2")
            format("woff2"),
        url("/fonts/Clash_Display/WEB/fonts/ClashDisplay-Light.woff")
            format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Clash_Display";
    src:
        url("/fonts/Clash_Display/WEB/fonts/ClashDisplay-Extralight.woff2")
            format("woff2"),
        url("/fonts/Clash_Display/WEB/fonts/ClashDisplay-Extralight.woff")
            format("woff");
    font-weight: 200;
    font-style: normal;
} */



@font-face {
    font-family: 'ClashDisplay-Extralight';
    src: url('/fonts/Clash_Display/WEB/fonts//ClashDisplay-Extralight.woff2') format('woff2'),
         url('/fonts/Clash_Display/WEB/fonts//ClashDisplay-Extralight.woff') format('woff'),
         url('/fonts/Clash_Display/WEB/fonts//ClashDisplay-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'ClashDisplay-Light';
    src: url('/fonts/Clash_Display/WEB/fonts//ClashDisplay-Light.woff2') format('woff2'),
         url('/fonts/Clash_Display/WEB/fonts//ClashDisplay-Light.woff') format('woff'),
         url('/fonts/Clash_Display/WEB/fonts//ClashDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'ClashDisplay-Regular';
    src: url('/fonts/Clash_Display/WEB/fonts//ClashDisplay-Regular.woff2') format('woff2'),
         url('/fonts/Clash_Display/WEB/fonts//ClashDisplay-Regular.woff') format('woff'),
         url('/fonts/Clash_Display/WEB/fonts//ClashDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'ClashDisplay-Medium';
    src: url('/fonts/Clash_Display/WEB/fonts//ClashDisplay-Medium.woff2') format('woff2'),
         url('/fonts/Clash_Display/WEB/fonts//ClashDisplay-Medium.woff') format('woff'),
         url('/fonts/Clash_Display/WEB/fonts//ClashDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url('/fonts/Clash_Display/WEB/fonts//ClashDisplay-Semibold.woff2') format('woff2'),
         url('/fonts/Clash_Display/WEB/fonts//ClashDisplay-Semibold.woff') format('woff'),
         url('/fonts/Clash_Display/WEB/fonts//ClashDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'ClashDisplay-Bold';
    src: url('/fonts/Clash_Display/WEB/fonts//ClashDisplay-Bold.woff2') format('woff2'),
         url('/fonts/Clash_Display/WEB/fonts//ClashDisplay-Bold.woff') format('woff'),
         url('/fonts/Clash_Display/WEB/fonts//ClashDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
  /**
  * This is a variable font
  * You can control variable axes as shown below:
  * font-variation-settings: wght 700.0;
  *
  * available axes:
  'wght' (range from 200.0 to 700.0
  */
  @font-face {
    font-family: 'ClashDisplay-Variable';
    src: url('/fonts/Clash_Display/WEB/fonts//ClashDisplay-Variable.woff2') format('woff2'),
         url('/fonts/Clash_Display/WEB/fonts//ClashDisplay-Variable.woff') format('woff'),
         url('/fonts/Clash_Display/WEB/fonts//ClashDisplay-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
  }

  
  
body {
    font-family: 'Poppins', sans-serif;
  }

h1, h2, h3 {
    @apply tracking-wide font-clashBold
    
}

h4, h5, h6 {
    font-family: 'ClashDisplay-Medium', sans-serif;
}

